{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moviement</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="row">
    <!-- <div class="col-md-4 sidepane">{% block sidepane %}&nbsp;{% endblock %}</div> -->
    <div class="col-md-8 px-0">
      <nav class="navbar navbar-expand-lg py-0">
        <div class="container-fluid px-0">
          <a class="navbar-brand" href="#">Moviement</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li style="transform: skewX(0deg); border-radius: 30px 0 0 0;">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}" style="transform: skewX(0deg);">Home</a>
              </li>
              <li><a class="nav-link" href="{% url 'index' %}">Movies</a></li>
              <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
              <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="row my-4 mx-4 content">
        <div class="col-md-12">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
  </footer>
</body>
</html>