@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
body {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background-color: #d9d9d9;
  margin: 0 auto;
}

.fav-link,
.take-item,
.movie-item {
  text-decoration: none;
}

.footer a {
  font-size: 1rem;
}

nav {
  background-color: #d9d9d9;
}

.navbar-nav li {
  background-color: #000000;
  margin: 0 2rem;
  padding: 2rem 0;
  width: 9rem;
  transform: skewX(-30deg);
}

.navbar-nav li a {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  transform: skewX(30deg);
  text-transform: uppercase;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
  color: #cccccc;
}

.sidepane {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  height: auto;
}

.navbar-brand {
  display: none;
}

.list-group {
  min-width: 400px;
  width: 70%;
}

.favs {
    font-size: 1rem;
}

.list-group-item {
  background-color: transparent;
}

.detail-img {
  max-width: 200px;
}

@media (max-width: 1000px) {
  .navbar-brand {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .sidepane {
    display: none;
  }

  .confirm-delete {
    display: inline;
  }

  .navbar-nav li {
    background-color: #000000;
    margin: 0;
    padding: 1rem;
    width: 100%;
    transform: none;
  }
  .navbar-nav li a {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    transform: none;
    text-transform: uppercase;
  }
  .content {
    margin: 2rem auto !important;
  }
}

.shot_picture {
  width: 50vh;
}

.clapboard {
  height: fit-content;
  margin-top: -0.57rem;
  margin-left: 0rem;
  width: 70%;
  min-width: 400px;
  transform: scale(1.0);
  border: 3px solid black;
}

.item-pro-li {
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
}

.key-pro-user {
    font-size: 32px;
    font-family: 'Mukta', sans-serif;
    text-align: left;
}

.key-pro-user > span {
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
    text-align: left;
    border-bottom: 3px solid black;
    padding: 0 30px 0 30px;
}

.item-pro-user {
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
    text-align: left;
}

.info {
  height: 11rem;
  width: 100%;
}
.info > .divider {
  height: 11rem;
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: -0.1rem;
  /* align-content: center;
    justify-content: center; */
}

.info > .divider:first-child {
  float: left;
}

.info > .divider:last-child {
  float: right;
}

.info > div > .key {
  font-size: 2rem;
  display: block;
  height: 2.1rem;
  margin: auto, 0;
  text-align: center;
}

.info > div > .item {
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
  display: block;
  height: 5.1rem;
  margin: auto;
  text-align: center;
}

.info-pro {
    height: 11rem;
    width: 100%;
    text-align: left;
    padding-bottom: 200px;
}

.info-pro > .divider {
    height: 11rem;
    width: 0;
    /* border: 1px solid black; */
    display: inline;
    /* margin-left: -30; */
    /* align-content: center;
      justify-content: center; */
}

.title > .key {
  font-size: 2rem;
  text-align: center;
}

.desc {
  padding: 0.5rem;
  font-size: 1.25rem;
  height: fit-content;
  width: 100%;
}

.clapboard>.title {
    font-family: "Permanent Marker", cursive;
}

.divider>.key {
    font-family: 'Mukta', sans-serif;
}

.desc-mb-3>.desc-title {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 32px;
}

.desc-mb-3>.title-desc {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
    padding-left: 10px
}

.favs {
    text-align: center;
}

