{% extends 'base.html' %}

{% block content %}
<section class="clapboard" >
    <section class="title">
        <p>Title: {{ movie.title }}</p>
    </section>
    
    <section class="info">
        <div class="divider">
            <div class="key">Release Date: </div>
            <div class="item">{{ movie.release_date }}</div>
        </div>

        <div class="divider">
            <div class="key">Score: </div>
            <div class="item">{{ movie.review_score }}</div>
        </div>
        
    </section>

    <section class="desc">
        <div><p>Description: {{ movie.description }}</p></div>
    </section>
</section>




<a href="{% url 'add_fav' movie.id %}">Favorite</a>

<h2>Takes </h2>
<a href="{% url 'take_create' movie.id %}">Create a Take!</a>


{% for take in movie.take_set.all %}
    <a href="{% url 'user_profile' take.user_id %}">{{ take.user.username }}</a>
    <p>{{ take.title }}</p>
    <p>{{ take.themes }}</p>
    <p>{{ take.rating }}</p>
    <p>{{ take.description }}</p>
    {% for shot in take.shot_set.all %}
    <img class="shot_picture" src="{{shot.url}}">
    {% endfor %}
    {% if take.user_id == user.id %}
    <form action="{% url 'add_photo' take.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="hidden" name="movie" value="{{movie.id}}">
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
    <a href="{% url 'take_update' take.id %}">Edit Take</a>
    <a href="{% url 'take_delete' take.id %}">Delete Take</a>
    {% endif %}
{% endfor %}

{% endblock %}