{% extends 'base.html' %}

{% block content %}


<p>{{ movie.title }}</p>
<p>{{ movie.release_date }}</p>
<p>{{ movie.review_score }}</p>
<p>{{ movie.description }}</p>

<h2>Takes </h2>
<a href="{% url 'take_create' movie.id %}">Create a Take!</a>


{% for take in movie.take_set.all %}
    <a href="{% url 'user_profile' take.user_id %}">{{ take.user.username }}</a>
    <p>{{ take.title }}</p>
    <p>{{ take.themes }}</p>
    <p>{{ take.rating }}</p>
    <p>{{ take.description }}</p>
    {% for shot in take.shot_set.all %}
    <img class="shot_picture" src="{{shot.url}}">
    {% endfor %}
    {% if take.user_id == user.id %}
    <a href="{% url 'take_update' take.id %}" class="btn btn-sm btn-dark m-2">Edit Take</a>
    <a href="{% url 'take_delete' take.id %}" class="btn btn-sm btn-dark m-2">Delete Take</a>
    <form action="{% url 'add_photo' take.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
    {% endif %}
{% endfor %}

{% endblock %}