{% extends 'base.html' %} {% block content %} {% if current_user.first_name %}

{% endif %}

<section class="clapboard" >
    <section class="title">
        <p class="key">Profile</p>
    </section>
    <section class="info-pro">
        <div class="divider">
            <div class="key-pro-user">USER NAME <span>{{ current_user }}</span></div>
        </div>
        <div class="divider">
          {% if profile %}
            <div class="key-pro-user">FAVORITE MOVIES 
                <span>
                    {% for fav in profile.fav_movies.all %}
                    {{fav.title}},
                    {% endfor %}
                </span>
            </div>
            {% endif %}
               
        </div>
    </section>
</section>
{% if takes %}
<h3 class="my-3">{% if current_user.id == user.id %} My {% else %} {{ current_user.username }} {% endif %} Takes</h3>

<ul class="list-group">
  {% for take in takes %}
  <li class="list-group-item border-black">
    <h4 class="profile-detail">{{ take.title }}</h4>
    <p class="profile-detail badge text-bg-secondary">Themes: {{ take.themes }}</p>
    <p class="profile-detail badge text-bg-secondary">Rating: {{ take.rating }}</p>
    <p class="profile-detail">{{ take.description }}</p>
    {% for shot in take.shot_set.all %}
    <img class="shot_picture" src="{{shot.url}}" />
  {% endfor %}
{% if take.user_id == user.id %}
<div class="take-actions">
  <a href="{% url 'take_update' take.id %}" class="badge take-item text-bg-dark"
    >Edit Take</a
  >
  <a href="{% url 'take_delete' take.id %}" class="badge take-item text-bg-dark"
    >Delete Take</a
  >
  <h5 class="mt-4">Shots</h5>
  <form
    action="{% url 'add_photo' take.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
  >
    {% csrf_token %}
    <input type="hidden" name="movie" value="{{take.movie_id}}">
    <input type="file" name="photo-file" /><br/>
    <button type="submit" class="btn btn-sm btn-dark my-3">Upload Photo</button>
  </form>
</div>
{% endif %} 
</li>
{% endfor %} 
</ul>
{% endif %}
{% endblock %}


