{% extends 'base.html' %}
{% block content %}
{% if current_user.first_name  %}
<h2>
    {% if current_user.id == user.id %}Hi,{% endif %}
    {{ current_user.first_name }}
</h2>
{% else %}
<h2>{{ current_user }}</h2>
{% endif %}
<h3>Takes</h3>
{% for take in takes %}
<ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="profile-detail"><span>Title:</span> {{ take.title }}</p></li>
    <li class="list-group-item"><p class="profile-detail"><span>Themes:</span> {{ take.themes }}</p></li>
    <li class="list-group-item"><p class="profile-detail"><span>Rating:</span> {{ take.rating }}</p></li>
    <li class="list-group-item"><p class="profile-detail"><span>Desc:</span> {{ take.description }}</p></li>
    {% for shot in take.shot_set.all %}
    <img class="shot_picture" src="{{shot.url}}">
    {% endfor %}
</ul>
    {% if take.user_id == user.id %}
    <div class="take-actions">
    <form action="{% url 'add_photo' take.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
    <a href="{% url 'take_update' take.id %}" class="btn btn-small btn-dark m-2">Edit Take</a>
    <a href="{% url 'take_delete' take.id %}" class="btn btn-small btn-dark m-2">Delete Take</a>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}